.container_clock{
    width: 70vw;
}
.container_clock .time_specific{
    max-width: 450px;
}
.container_clock .time_specific .buttonStyle, .time_button_start{
    max-width: 250px;
}

/* setting modal */
.modalsettings{
    width: 80%;
}
.modalsettings .timespomo input{
    width: 25%;
    height: 1.4rem;
}